

body{
	font-family: Verdana, sans-serif;
 }

h1{
	text-align:center; 
	color:blue;
	font-size:25;
}

p{
	text-align:justify; 
	font-size:18;
 }
 
li{
	text-align:justify;
	font-size:16;
	padding-left:12px;
	margin-top:15px;
 }
 
ul{
 	background-color:#D6FFFF
 }
 
 .header{
   width:100%;
   height:10%;
   float:left;
   text-align:left;
}

.logo{
   width:100%;
   height:80%;
}

.upperLeftLogo{
   background:url('../image/unistra.png') 0 0 no-repeat;
   height:100%;
   width:100%;
}

.upperRightLogo{
   background:url("../image/mathInfo.png") 0 0 no-repeat;
   height:100%;
   width:10%;
   float:right;
}
